<div class="container">
<div class="eight columns">

  <p><%= markdown @wikis %></p>
</div>

<div class="twelve columns offset-by-two">
  <% if can? :create, Wiki %>
  <%= link_to "New", new_wiki_path, class: 'remove-bottom button' %>
  <% end %>

  <% if can? :edit, @wiki %>
    <%= link_to "Edit", edit_wiki_path(@wiki), class: 'remove-bottom button' %>
  <% end %>

  <% if can? :destroy, @wiki %>
      <%= link_to "Delete", @wiki, method: :delete, class: 'remove-bottom button', confirm: 'Are you sure you want to delete this wiki?' %> 
  <% end %>
</div>
</div>
