<h1>Edit Wikis</h1>

    <p>Guidelines for new wikis:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
      <li>Blah blah blah</li>
    </ul>

 
    <%= render partial: 'form', locals: { wiki: @wiki } %>
