<h1>All Posts</h1>
<% @wikis.each do |wiki| %>
  <h4><%= link_to wiki.title, wiki %></h4>
      
      <small>
        submitted <%= time_ago_in_words(wiki.created_at) %> ago by <%= wiki.user.name %><br/>
       
      </small>
       
<% end %>