<div class="text-box">

 <h1>New Wiki</h1>

 <p>Guidelines for new Wikis:</p>
    <ul>
      <li>Make sure content is appropriate.</li>
      
    </ul>
</div>

<%= render partial: 'form', locals: { wiki: @wiki} %>