/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 = require base
 = require layout
 = require skeleton
 *= require_tree .
 */
#nav {
    margin: 13px 0 0 0;
}
 
#nav ul li {
    display: inline;
    margin: 0 20px 0 0;
    margin-bottom: 130px;
}
 
#nav a {
    text-decoration: none;
}
 
#nav a:hover {
    text-decoration: underline;
}

#intro  {
font-size: 1.250em;
text-align: center;
margin-bottom: 50px;
max-width: 100%;
height: auto;
color: #f1e7d8;
border-radius: 1px;

border-radius: 1px;
padding: 12px;
}

#intro-columns {
  text-align: center;
}

